black
codespell
coverage[toml]
pytest
pytest-operator
ruff
mypy
types-PyYAML
flake8
flake8-docstrings
flake8-copyright
flake8-builtins
isort
juju
pep8-naming
pyproject-flake8
types-setuptools
types-toml
types-requests
types-psutil
