name: CI

on:
  pull_request:
    branches:
      - main
  push:

jobs:
  lint-report:
    uses: ./.github/workflows/lint-report.yaml

  static-analysis:
    name: Static analysis
    uses: ./.github/workflows/static-analysis.yaml

  unit-tests-with-coverage:
    uses: ./.github/workflows/unit-test.yaml

  publish-charm:
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
    # if: ${{ github.ref_name == 'main' }}
    uses: ./.github/workflows/publish-charm.yaml
    secrets: inherit
