name: Publish charm

on:
  workflow_call:
    inputs:
      charm-file-name:
        description: Charm file name
        required: true
        type: string
    secrets:
      CHARMCRAFT_AUTH:
        required: true

jobs:
  publish-charm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch Tested Charm
        uses: actions/download-artifact@v4
        with:
          name: vault-charm

      - name: Move charm in current directory
        run: find ./ -name ${{ inputs.charm-file-name }} -exec mv -t ./ {} \;

      - name: Upload charm to Charmhub
        uses: canonical/charming-actions/upload-charm@2.4.0
        with:
          built-charm-path: ${{ inputs.charm-file-name }}
          credentials: "${{ secrets.CHARMCRAFT_AUTH }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: 1.15/edge

      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
